<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068414615411-h5eotqv7dbhcr3krvr4usfuh38afaeg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068414615411-h5eotqv7dbhcr3krvr4usfuh38afaeg6</string>
	<key>API_KEY</key>
	<string>AIzaSyBIVJ2NXVAem0CKv59EN9bmF0g8TOZR-rU</string>
	<key>GCM_SENDER_ID</key>
	<string>1068414615411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tahadeta.MasCover-iOS</string>
	<key>PROJECT_ID</key>
	<string>mas-cover</string>
	<key>STORAGE_BUCKET</key>
	<string>mas-cover.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068414615411:ios:da0cc14c1358e5bc250f06</string>
</dict>
</plist>